@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: transparent url('./background.jpg') center center no-repeat;
  background-size: cover;
  padding: 0 15px;
}

.main-box{
  border-radius: 30px;
  box-sizing: border-box;
  height:750px;
  background-color: white;
  box-shadow: 0 0 5px rgba(black,.25);
  min-width: 420px;
}

.input-item{
  margin-bottom: 20px;
  padding-left: 20px;
}

.input-item label{
  padding: 5px 0;
  display: block;
}

.input-item input{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 28px 6px;
  outline: none;
  border-radius:5px;
  font-size:1em;
}

.input-item select{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 5px 6px;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
}

.input-wrap{
  position: relative;
}

.currency-box{
  position: absolute;
  left: 3px;
  top: 6px;
}

.percentage-box{
  position: absolute;
  left: 75px;
  top: 6px;
}

.input-interest{
  width: 100px;
  text-align: right;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  background-color: #bccbe9;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}

button.active {
  background-color: white;
}

button:hover {
  background-color: #e9e9e9;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content.active {
  display: block;
}